<!-- partials/sidebar.html -->
<aside class="w-64 bg-white shadow p-4">
<ul>
<li><a href="{% url 'dashboard' %}">Dashboard</a></li>
<li><a href="{% url 'enrolled_courses' %}">My Courses</a></li>
<li><a href="{% url 'assignments' %}">Assignments</a></li>
<li><a href="{% url 'grades' %}">Grades</a></li>
<li><a href="{% url 'announcements' %}">Announcements</a></li>
<li><a href="{% url 'messages' %}">Messages</a></li>
<li><a href="{% url 'notifications' %}">Notifications</a></li>
<li><a href="{% url 'settings' %}">Settings</a></li>
</ul>
</aside>